{% extends "webapp/BASE.html" %}
{% block title %}My Dashboard{% endblock %}
{% block content %}
<h3>Today is: {{ datetime }}</h3>
{% if request.GET.status %}
	{% if request.GET.status == "0" %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>Month point reset finished!</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
{% endif %}
{% include 'webapp/profile.html' %}
<div class="container">
	{% if user.id == 1 %}
	<h3 class="float-right"> Recent 30-days Trsanctions</h3>
	{% else %}
	<h3 class="float-right">My Transactions</h3>
	{% endif %}
	<table class="table table-hover">
		<thead class="thead-light">
			<tr>
				<th scope="col">id</th>
				<th scope="col">rec_ID</th>
				<th scope="col">send_ID</th>
				<th scope="col">points</th>
				<th scope="col">message</th>
				<th scope="col">rdm_ID</th>
				<th scope="col">pub_date</th>
			</tr>
		</thead>
		<tbody>
		{% for t in transac_list %}
			<tr>
				<th scope="row">{{ t.id }}</th>
				<td>{{t.rec_ID.first_name}} {{t.rec_ID.last_name}}</td>
				<td>{{t.send_ID.first_name}} {{t.send_ID.last_name}}</td>
				<td>{{t.points}}</td>
				{% if t.message %}
				<td width="33%"><h4>{{t.message.title}}</h4> <p>{{t.message.content}}</p></td>
				{% else %}
				<td> - </td>
				{% endif %}
				{% if t.rdm_ID %}
				<td>{{t.rdm_ID.title}}</td>
				{% else %}
				<td> - </td>
				{% endif %}
				<td>{{t.pub_date|date}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}