{% extends "webapp/BASE.html" %}
{% block title %}Send Points{% endblock %}
{% block content %}
<h3>Today is: {{ datetime }}</h3>
<div class="row">
	{% include 'webapp/profile.html' %}
	<div class="col-md-8">
		{% if request.GET.status %}
			{% if request.GET.status == "0" %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>Success!</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% elif request.GET.status == "1" %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Failed! Illegal input!</strong> You should check in on some of those fields below.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% elif request.GET.status == "2" %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Failed! Insufficient points!!</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}
		{% endif %}
		<form action="/redemption/" method="POST" enctype="multipart/form-data">
			{% csrf_token %} 
		  <div class="form-group row">
		    <label for="rdp_id">Select your redemption</label>
		    <select class="form-control" id="rdp_id" name="rdp_id">
	            {% for r in rdp_options %}
	            <option value="{{ r.id }}">{{ r.title }} - {{ r.point_price }} pt.</option>
	            {% endfor %}
		    </select>
		  </div>
  		  <button type="submit" class="btn btn-primary">Redeem</button>
		</form>
	</div>
</div>
{% endblock %}