{% extends "webapp/BASE.html" %}
{% block title %}Send Points{% endblock %}
{% block content %}
<h3>Today is: {{ datetime }}</h3>
<div class="row">
	{% include 'webapp/profile.html' %}
	{% if request.GET['done'] %}
	<h1>Success!</h1>
	{% endif %}
	<div class="col-md-8">
		<form action="/redemption/" method="POST" enctype="multipart/form-data">
			{% csrf_token %} 
		  <div class="form-group row">
		    <label for="rdp_id">Select your redemption</label>
		    <select class="form-control" id="rdp_id" name="rdp_id">
	            {% for r in rdp_options %}
	            <option value="{{ r.id }}">{{ r.title }} - {{ r.point_price }} pt.</option>
	            {% endfor %}
		    </select>
		  </div>
  		  <button type="submit" class="btn btn-primary">Redeem</button>
		</form>
	</div>
</div>
{% endblock %}