{% extends "webapp/BASE.html" %}
{% block title %}My Dashboard{% endblock %}
{% block content %}

<h3>Today is: {{ datetime }}</h3>
<form method="POST" action="/reset/" enctype="multipart/form-data">{% csrf_token %}<button class="btn btn-outline-danger float-right">Reset this Month</button></form>
<div class="container">
	<h3> Report - {{report_title}}</h3>
	<table class="table table-hover">
		<thead class="thead-light">
			<tr>
				{% for c in report_header %}
				<th scope="col">{{c}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% for row in report_content %}
			<tr>
				{% for cell in row %}
				<td>{{cell}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}