{% extends "webapp/BASE.html" %}
{% block title %}Send Points{% endblock %}
{% block content %}
<h3>Today is: {{ datetime }}</h3>
<div class="row">
	{% include 'webapp/profile.html' %}
	<div class="col-md-8">
		{% if request.GET.status %}
			{% if request.GET.status == "0" %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>Success!</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% elif request.GET.status == "1" %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Failed! Illegal input!</strong> Issue: {{ request.GET.r }}.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% elif request.GET.status == "2" %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Failed! Insufficient points!!</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}
		{% endif %}
		<form action="/send/" method="POST" enctype="multipart/form-data">
			{% csrf_token %} 
		  <div class="form-group row">
		    <label for="points" class="col-sm-2 col-form-label">Points</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="points" name="points" value="0" min="1" max="{{ employee.point_tosd }}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="rec_employee">Select Receiver</label>
		    <select class="form-control" id="rec_employee" name="rec_employee_id">
	            {% for e in employees %}
	            <option value="{{ e.id }}">{{ e.first_name }} {{ e.last_name }} - Received {{ e.point_recd }} Pts.</option>
	            {% endfor %}
		    </select>
		  </div>
		  <div class="form-group">
		    <label for="msg_title">Message Title</label>
		    <input type="text" class="form-control" id="msg_title" name="msg_title" placeholder="(Optional)" maxlength="80"></input>
		  </div>
		  <div class="form-group">
		    <label for="msg_content">Message Content</label>
		    <textarea class="form-control" id="msg_content" name="msg_content" rows="3" placeholder="(Optional)" maxlength="240"></textarea>
		  </div>
  		  <button type="submit" class="btn btn-primary">Send</button>
		</form>
	</div>
</div>
{% endblock %}