{% extends "webapp/BASE.html" %}
{% block title %}Send Points{% endblock %}
{% block content %}
<h3>Today is: {{ datetime }}</h3>
<div class="row">
	{% include 'webapp/profile.html' %}
	<div class="col-md-8">
		{% if request.GET.done %}
			{% if request.GET.done == "True" %}
				Success!
			{% elif request.GET.done == "False" %}
				Failed!
			{% endif %}
		{% endif %}
		<form action="/send/" method="POST" enctype="multipart/form-data">
			{% csrf_token %} 
		  <div class="form-group row">
		    <label for="points" class="col-sm-2 col-form-label">Points</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="points" name="points" value="0" min="0" max="{{ employee.point_tosd }}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="rec_user">Select Receiver</label>
		    <select class="form-control" id="rec_user" name="rec_user">
	            {% for e in employees %}
	            <option value="{{ e.user_id.id }}">{{ e.first_name }} {{ e.last_name }}</option>
	            {% endfor %}
		    </select>
		  </div>
		  <div class="form-group">
		    <label for="msg_title">Message Title</label>
		    <input type="text" class="form-control" id="msg_title" name="msg_title" placeholder="(Optional)"></input>
		  </div>
		  <div class="form-group">
		    <label for="msg_content">Message Content</label>
		    <textarea class="form-control" id="msg_content" name="msg_content" rows="3" placeholder="(Optional)"></textarea>
		  </div>
  		  <button type="submit" class="btn btn-primary">Send</button>
		</form>
	</div>
</div>
{% endblock %}