{% extends "webapp/BASE.html" %}
{% block title %}Send Points{% endblock %}
{% block content %}
<h3>Today is: {{ datetime }}</h3>
<div class="row">
	{% include 'webapp/profile.html' %}
	<div class="col-md-8">
		<form>
		  <div class="form-group row">
		    <label for="points" class="col-sm-2 col-form-label">Points</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="points" name="points" value="0" min="0" max="{{ employee.point_tosd }}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="rec_user">Select Receiver</label>
		    <select class="form-control" id="rec_user" name="rec_user">
	            {% for e in employees %}
	            <option value="{{ e.user_id }}">{{ e.firstname }} {{ e.lastname }}</option>
	            {% endfor %}
		    </select>
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlSelect2">Example multiple select</label>
		    <select multiple class="form-control" id="exampleFormControlSelect2">
		      <option>1</option>
		      <option>2</option>
		      <option>3</option>
		      <option>4</option>
		      <option>5</option>
		    </select>
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlTextarea1">Example textarea</label>
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		  </div>
		</form>
	</div>
</div>
{% endblock %}